<form id="encounter-creator-form" autocomplete="off" onsubmit="event.preventDefault();">
    <p>Enter number of players and the average player level to generate an encounter.</p>
    <div class="form-group">
        <label>Avg Player Level</label>
        <input type="number" name="encounter-creator-player-levels" id="encounter-creator-player-levels">
    </div>

    <div class="form-group">
        <label>Number of players</label>
        <input type="number" name="encounter-creator-num-players" id="encounter-creator-num-players">
    </div>
</form>